#projectDiv:hover{
    border: 3px solid black;
}

#projectDiv{
    border: '1px solid black';
}

#imageDelete{
    width: 10%;
    height: 10%;
    margin: 10px;
    display: block;
}

#divProjectGlobal{
    width: 20%;
    height: 20%;
}