.sectionTitleContainer h1{
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1%;
    border: 1px black solid;
    margin: 0;
    background-color: aqua;
    opacity: 50%;
    border-radius: 5%;
    font-size: 100%;
}


